# Игнорируем виртуальные окружения
.venv/
venv/
env/

# Игнорируем настройки IDE
.idea/
.DS_Store
**/.DS_Store


# Игнорируем кеши Python
__pycache__/
*.py[cod]
*.pyo

# Игнорируем конфигурационные файлы с секретами
.env
.env.local
.env.*.local
# но НЕ игнорируем шаблон
!.env.example

# Игнорируем локальные данные (runtime), но держим data/ в репо через .gitkeep
data/*
!data/.gitkeep

# Логи и временные файлы
logs/
tmp/
*.log
*.tmp
*.bak

